//NAVIGATION BARz
.main-nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    transition: 0.3s;
    @media screen and (min-width: 768px) {
        top: 10px;
    }
    @media screen and (min-width: 1200px) {
        padding: 0 30px;
    }
    &.mobile{
        background: #EDEDED;
        box-shadow: 0px 0px 10px rgba($black, 0.5);
        .fa-bars:before {
            content: "\f00d";
        }
        .navbar-nav .nav-link{
            text-align: center;
        }
    }
    // links
    &_link{
        cursor: pointer;
        color: $orange-victoria;
        margin: 0 3px;
        opacity: 0.8;
        transition: 0.3s;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            margin-right: 10px;
        }
        &:hover{
            text-shadow: 0 0 .65px $orange-victoria, 0 0 .65px $orange-victoria;
            color: $orange-victoria;
            opacity: 1;
        }
        &:focus, &:active{
            color: $orange-victoria;
            outline: none;
        }
    }
    // logo
    &_logo{
        position: absolute;
        width: 20%;
        max-width: 120px;    
        top: 0;
        @media screen and (min-width: 1200px) {
            max-width: 140px;
        }
    }
    // menu icon
    .navbar-toggler{
        position: relative;
        right: -15px;
        top: 0;
        @media screen and (min-width: 768px) {
            top: -10px;
        }
        &:focus{
            outline: none;
        }
    }
    .navbar-toggler-icon{
        color: $orange-victoria;
    }
}